.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.item-title {
  font-size: 40px;
  font-weight: 500;
  flex: 2;
}

.item-info-container {
  flex: 1;
}

.item-info {
  font-size: 20px;
}

.item-date {
  color: darkgray;
}

.buttons-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

button {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  outline: 1px solid tomato;
}

button img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
